# app
/www/**/*
/coverage/**/*
/test/fixtures/views/**/*

#PhoneGap
/platforms/**/*
/plugins/**/*
/merges/**/*

# Logs
logs
*.log

# node-waf configuration
.lock-wscript

# Bower
bower_components

# NPM
node_modules
