<?xml version='1.0' encoding='utf-8' standalone='yes'?>
  <widget id="com.phonegap.phonegap-seed" version="0.0.1" versionCode="0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>
    PhoneGap-seed
  </name>
  <description>
    Phonegap-seed project with angularjs, slim, sass and gulp.
  </description>
  <author email="alekseyleshko@gmail.com" href="https://github.com/AlekseyLeshko">
    Aleksey Leshko
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <icon src="img/icon.png" />

  <preference name="phonegap-version" value="3.5.0" />
  <preference name="orientation" value="landscape" />
  <preference name="fullscreen" value="false" />
</widget>
